<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Client page</title>
</head>
<body>

<form th:method="POST" th:action="@{/client/addSensor}">
    <label for="name">Наименование сенсора: </label>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Зарегистрировать"/>
</form>

<br>

<form th:method="POST" th:action="@{/client/addMesurments}">
	<label for="name">Наименование сенсора: </label>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Добавить 1000 измерений"/>
</form>

</body>
</html>